#downnav {
  display: none;
}

* {
  padding: 0px;
  margin: 0px;
}

@media only screen and (max-width: 750px) {
  #downnav {
    /* 毛玻璃效果 */
    backdrop-filter: blur(30px);
    width: 100vw;
    height: 15vw;
    position: fixed;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(172, 172, 172, 0.9);
    border-radius: 2em 2em 2em 2em;
    font-size: 2vh;
    z-index: 99;
  }

  #downnav .downnav-con {
    list-style: none;
    width: 95%;
    display: flex;
  }

  #downnav .downnav-con li {
    text-align: center;
    float: left;
    width: 20%;
    height: 15vw;
  }

  #downnav .downnav-con li a {
    color: rgb(48, 48, 48);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    height: 8vw;
  }

  .center {
    background-color: rgb(146, 146, 147) !important;
    width: 20vw !important;
    height: 20vw !important;
    -moz-border-radius: 10vw;
    -webkit-border-radius: 10vw;
    border-radius: 10vw;
    position: relative;
    top: -2vw;
  }

  .down1 {
    position: relative;
    top: 2.2vw;
  }

  .down2 {
    top: 0vw !important;
  }

  #downnav .downnav-con li a img {
    width: 7vw;
    margin-top: 1.5vw;
  }

  #downnav .downnav-con li a p {
    position: relative;
    top: -2vw;
  }
}
